:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('https://wallpapercave.com/wp/IFZvY21.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-left: 0rem;
  margin-left: 0rem;
}

.big {
  margin-left: 0rem;
  padding-left: 0rem;
  min-height: 10vh;
  width: 80vw;
  max-width: 1000px;
  margin-top: 5vh;
  font-size: 1.5rem;
  background-color: rgba(122, 153, 72, 0.8);
}
header {
  background-color: rgb(255, 254, 254, 0.5);
  padding-left: 0rem;
  margin-left: 0rem;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 32px;
  margin-bottom: 3vh;
}
h1 {
  font-size: 38px;
}
h2 {
  font-size: 28px;
}
form {
  margin-bottom: 15px;
}
.zipInput {
  align-items: flex-end;
}
.item1 {
  grid-area: bizName;
}
.item2 {
  grid-area: address;
}
.item3 {
  grid-area: ship;
}
.item4 {
  grid-area: distance;
  width: 4rem;
}

.grid-container-n {
  display: grid;
  grid-template-areas: 'bizName address address ship distance';
  background-color: yellowgreen;
  grid-gap: 3px;
}
.grid-container-n > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px;
  font-size: 16px;
}
span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
