@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-image: url('https://wallpapercave.com/wp/IFZvY21.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  padding-left: 0rem;
  margin-left: 0rem;
  font-family: 'Poppins', sans-serif;
}

main {
  padding-bottom: 1rem;
}
.big {
  margin-left: 0rem;
  padding-left: 0rem;
  min-height: 10vh;
  width: 80vw;
  max-width: 800px;
  margin-top: 5vh;
  font-size: 1.5rem;
  background-color: rgba(122, 153, 72, 0.8);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

header {
  background-color: rgb(255, 254, 254, 0.5);
  padding-left: 0rem;
  padding-right: 0rem;
  width: 100%;
}
.mainHeader {
  font-family: 'Indie Flower', cursive;
  font-size: 45px;
}

h4 {
  padding-top: 0vh;
  padding-bottom: 1vh;
  margin: 0px;
  margin-left: 0rem;
  width: 100%;
  font-size: 40px;
}
h2 {
  font-size: 35px;
  padding-top: 2vh;
  padding-bottom: 0.5vh;
  margin: 0px;
  margin-left: 0rem;
  width: 100%;
  font-family: 'Indie Flower', cursive;
}
h3 {
  padding-bottom: 15px;
  margin-top: 5px;
}

form {
  padding: 10px;
}
.zipInput {
  align-items: flex-end;
}
ol,
ul,
li {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}
table,
th,
td {
  border: 1px solid black;
  background-color: rgb(192, 196, 160, 0.6);
}
.descBox {
  border: 1px solid black;
  background-color: rgb(192, 196, 160, 0.6);
  margin-bottom: 40px;
  width: 95%;
  max-width: 780px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.para {
  font-size: 1rem;
  background-color: rgb(255, 254, 254, 0.8);
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.name {
  background-color: rgb(255, 254, 254, 0.8);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0%;
  margin-top: 0%;
  font-size: 1.3rem;
  max-width: 400px;
}
.mainpic {
  margin-left: 5px;
  margin-right: 5px;
  width: 80vw;
  max-width: 400px;
  border: 4px solid black;
}
button {
  margin: 2px;
}
label {
  color: rgb(57, 63, 95);
}
.bambooListItem {
  background-color: rgba(101, 128, 57, 0.9);
  width: fit-content;
  border: 2px solid black;
  text-align: left;
  padding: 10px;
  margin: 15px;
}
.bambooListItem img {
  width: 90vh;
  max-width: 300px;
}
.bambooList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
img {
  justify-content: center;
}
.bambooInfoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media all and (min-width: 500px) {
  h1 {
    font-size: 60px;
    padding-top: 1vh;
    padding-bottom: 0.5vh;
  }
}
@media all and (min-width: 765px) {
  .bambooList,
  .bambooInfoList {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    max-width: 795px;
  }
}
@media all and (min-width: 1013px) {
  .bambooList {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    max-width: 1125px;
  }
}
.bottom {
  background-color: rgba(76, 59, 26);
  color: white;
  padding: 0.5%;
  display: flex;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.banner {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.horizontalspace {
  margin-right: 2%;
}
span {
  text-decoration: underline;
}
.addForm {
  border-radius: 5px;
  background-color: wheat;
  margin-top: 20px;
  text-align: left;
  max-width: 780px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.background {
  background-color: white;
}
input {
  font-size: 1rem;
  margin-top: 5px;
  margin-bottom: 15px;
}
.inputBigBox {
  width: 98%;
  max-width: 780px;
  height: 100px;
}
.inputLittleBox {
  width: 300px;
}
.inputTinyBox {
  width: 50px;
}
.flexinput {
  display: flex;
  flex-direction: row;
  text-align: left;
}
a,
a:link {
  color: black;
}
a:visited {
  color: rgb(79, 97, 51);
}
a:focus {
  color: black;
}
a:hover {
  color: white;
}
a:active {
  color: black;
}
.infotable {
  text-align: left;
}
